$color-primary: #444CF7;
$color-title: #000;
$align-title: left;
$padding-container: 100px 0;
$width-container: 90%;
$max-width-container:1200px;
$color-btn: #444CF7;
$text-btn: #fff;
$padding-btn: 20px 35px;
$height-shape: 18em;